.BusinessPage {
  &__Details {
    margin: 50px 100px 100px;

    &__Header {
      display: inline-flex;
      align-items: baseline;
      margin-bottom: 6px;
      width: 1050px;
      gap: 20px;
    }

    &__Rating {
      display: flex;
      gap: 20px;
      margin-bottom: 8px;
      align-items: baseline;
      height: 20px;

      &__Price {
        border-left: 1px solid rgb(169, 169, 169);
        height: 100%;
        padding-left: 20px;
      }
    }

    &__Contact {
      display: flex;
      gap: 40px;

      &__Hours {
        font-weight: bold;
      }

      a {
        border-right: 1px solid rgb(169, 169, 169);
        height: 100%;
        padding-right: 20px;
      }
    }

    &__Img {
      img {
        height: 400px;
        width: 400px;
        box-shadow: rgb(73, 80, 90) 0px 15px 30px 10px;
      }
    }

    &__Container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
    }

    &__Expanded {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &__Details {
        width: 600px;
        height: 210px;
        h4 {
          text-align: center;
        }

        &__About {
          height: 198px;
          p {
            padding: 20px;
          }
        }
      }
    }
  }
}
