.nav {

  &__logo {
    height: 125px;
    width: 135px;
  }

  &__buttons {
    a {
      color: black;
      text-decoration: none;
    }
  }

  button:hover {
    background-color: #8f6001;
    opacity: 80%;
    text-decoration: none;
  }
}
